<template>
  <hr class="j-seperator" />
</template>

<style scoped>
.j-seperator {
  background-color: var(--j-morph--background);
  box-shadow: 5px 5px 10px var(--j-morph--border-dark),
  -5px -5px 10px var(--j-morph--border-light),
  0 0 0 var(--j-morph--border-dark) inset,
  0 0 0 var(--j-morph--border-light) inset;
  border: none;
  border-radius: var(--j-morph--border-radius);
  height: 7px;
  margin: 30px 0;
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({})
export default class JSeperator extends Vue {
}
</script>
