<template>
  <div>
    <j-button :disabled="currentTheme === 'purple'"
              @click="currentTheme = 'purple'"
    >
      Purple
    </j-button>
    <j-button :disabled="currentTheme === 'dark'"
              @click="currentTheme = 'dark'"
    >
      Dark
    </j-button>
    <j-button :disabled="currentTheme === 'light'"
              @click="currentTheme = 'light'"
    >
      Light
    </j-button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import JButton from '@/components/JButton/JButton.vue';
import JThemes from '@/components/JThemeSelector/JThemes';

@Component({
  components: { JButton },
})
export default class JThemeSelector extends Vue {
  private localStorageThemeKey = 'j-morph--theme';

  private themes = JThemes;

  private internalTheme = localStorage.getItem(this.localStorageThemeKey) || 'purple';

  private get currentTheme() {
    return this.internalTheme;
  }

  private set currentTheme(theme: string) {
    localStorage.setItem(this.localStorageThemeKey, theme);

    const themeConfig = this.themes[theme];

    const root = document.documentElement;
    root.style.setProperty('--j-morph--background', themeConfig.background);
    root.style.setProperty('--j-morph--border-light', themeConfig.borderLight);
    root.style.setProperty('--j-morph--border-dark', themeConfig.borderDark);
    root.style.setProperty('--j-morph--font-color', themeConfig.fontColor);
    root.style.setProperty('--j-morph--font-color-clicked', themeConfig.fontColorClicked);

    this.internalTheme = theme;
  }
}
</script>
