:root {
    --j-morph--border-radius: 5px;
    --j-morph--background: rgb(30,30,60);
    --j-morph--content: rgb(50, 50, 80);
    --j-morph--border-light: rgb(70,70,110);
    --j-morph--border-dark: rgb(0,0,0);
    --j-morph--font-color: rgb(255, 255, 255);
    --j-morph--font-color-clicked: rgb(200, 200, 200);
    --j-morph--transition-duration: .2s;
}

body {
    background: var(--j-morph--background);
    color: var(--j-morph--font-color);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
