<template>
  <label class="j-label">
    <slot></slot>
  </label>
</template>

<style scoped>
.j-label {
  margin: 0 15px;
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({})
export default class JLabel extends Vue {
}
</script>
