<template>
  <button class="j-button" v-on="$listeners">
    <slot></slot>
  </button>
</template>

<style scoped>
.j-button {
  outline: none;
  border: none;
  background-color: var(--j-morph--background);
  color: var(--j-morph--font-color);
  box-shadow: 5px 5px 10px var(--j-morph--border-dark),
  -5px -5px 10px var(--j-morph--border-light),
  0 0 0 var(--j-morph--border-dark) inset,
  0 0 0 var(--j-morph--border-light) inset;
  border-radius: 5px;
  transition: box-shadow var(--j-morph--transition-duration);
  margin: 15px;
  font-size: 1rem;
  padding: .25rem 1rem;
}

.j-button:active,
.j-button:disabled {
  box-shadow: 0 0 0 var(--j-morph--border-dark),
  0 0 0 var(--j-morph--border-light),
  5px 5px 10px var(--j-morph--border-dark) inset,
  -5px -5px 10px var(--j-morph--border-light) inset;
  color: var(--j-morph--font-color-clicked);
  cursor: not-allowed;
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({})
export default class JButton extends Vue {
}
</script>
