<template>
  <div class="j-card--title">
    <slot></slot>
  </div>
</template>

<style scoped>
.j-card--title {
  color: var(--j-morph--font-color);
  font-size: 1.75rem;
  margin: 0 0 .5rem 0
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({})
export default class JCardTitle extends Vue {
}
</script>
