<template>
  <div class="j-card--card">
    <slot></slot>
  </div>
</template>

<style scoped>
  .j-card--card {
    background-color: var(--j-morph--background);
    box-shadow: 5px 5px 10px var(--j-morph--border-dark),
    -5px -5px 10px var(--j-morph--border-light),
    0 0 0 var(--j-morph--border-dark) inset,
    0 0 0 var(--j-morph--border-light) inset;
    border-radius: var(--j-morph--border-radius);
    margin: 15px;
    padding: 1rem;
  }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({})
export default class JCard extends Vue {
}
</script>
