<template>
  <div class="j-card--text">
    <slot></slot>
  </div>
</template>

<style scoped>
.j-card--text {
  color: var(--j-morph--font-color);
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({})
export default class JCardText extends Vue {
}
</script>
